* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  height: 100%;
}

:root {
  --black: #1e1e1e;
  --shadowLight: #1e1e1e40;
  --shadowDark: #1e1e1e8c;
  --white: #eaeaea;
  --grey: #5c6f68;
  --red: #df4b43;
  --redShadow: #df4b4333;
  --blue: #8da7be;
  --blueShadow: #1f2b4499;
  --darkBlue: #33658a;
  --gold: #9a8049;
  --screenTan: #cdcea5;
  --green: #7cae7a;

  --buttonHoverTransition: transform 500ms;
}

body h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
}

h4,
h5,
h6,
p,
table,
span {
  font-family: "VT323", monospace;
}

body {
  height: 100%;
  overflow-x: hidden;
  background-color: var(--black);
}

main {
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.overflowHidden {
  overflow: hidden;
}

section {
  position: relative;
  display: flex;
  background-color: var(--white);
  max-height: 100%;
  z-index: 50;
}

.button {
  display: flex;
  justify-content: center;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--white);
  box-shadow: 0 -4px 4px 0 var(--shadowLight) inset,
    0 4px 4px 0 var(--shadowLight);
  cursor: pointer;
  font-family: "VT323", monospace;
}

@keyframes wipe-enter {
  0% {
    transform: scale(0, 0.025);
  }
  50% {
    transform: scale(1, 0.025);
  }
}

/* Scroll Handling Classes */ /*   #region   */

.scrollSectionY {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.scrollMargin {
  margin: 0;
}

.scrollX {
  display: none;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100vw);
  transition: transform 900ms ease-in-out, filter 900ms ease-in;
}

.pastXScroll {
  transform: translateX(-200vw);
  display: flex;
}

.prevXScroll {
  transform: translateX(-100vw);
  display: flex;
  /* filter: blur(5px); */
}

.currentXScroll {
  transform: translateX(0);
  display: flex;
}

.nextXScroll {
  transform: translateX(100vw);
  display: flex;
  /* filter: blur(5px); */
}

.futureXScroll {
  transform: translateX(200vw);
  display: flex;
}

.sectionBreak {
  height: calc(var(--vh, 1vh) * 25);
  background-color: var(--black);
  padding: 1em 0;
}

.parallaxContainer {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 300%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.parralaxItem {
  position: absolute;
  left: 0;
  width: 120vw;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: transform 900ms ease-in-out;
  z-index: 0;
}

.parralaxItem > img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  left: 0;
  bottom: 0;
  transition: transform 900ms ease-in-out;
}

.parralaxItem > img.cover {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

.parallaxFocus {
  transform: translateX(0);
}

.parallaxFocus > img {
  transform: translateX(0);
}

.parallaxNext {
  transform: translateX(100vw);
}

.parallaxNext > img {
  transform: translateX(-90vw);
}

.parallaxLast {
  transform: translateX(200vw);
}

.parallaxBefore > img {
  transform: translateX(-10%);
}

/* #endregion */

/* Home Screen */ /*   #region   */
#homeScreen > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
  padding: 2em;
}

#homeScreen h1 {
  width: 9em;
  background: url("../static/sunset.gif") center;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: contain;
  color: transparent;
  text-align: right;
  font-size: 150px;
  font-weight: 800;
  padding: 0.25em 0;
  z-index: 100;
}

#homeScreen h2 {
  text-align: end;
  width: 60vw;
  min-width: 760px;
  font-size: 72px;
}

#homeScreen h3 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  padding: 0 0 3rem 2rem;
  transition: all 400ms ease-in-out;
  transform: rotate(180deg);
}

#homeScreen p {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100vw;
  height: 2em;
  font-size: 34px;
}

.scrollTitleAnimation {
  animation: wipe-enter 1s 1;
}

#homeScreen > article {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2vw;
}

@media screen and (max-width: 1500px) {
  #homeScreen > div {
    padding: 0.5em;
  }

  #homeScreen h1 {
    width: 100%;
    text-align: left;
    font-size: 60px;
    padding: 0;
  }

  #homeScreen h2 {
    text-align: start;
    width: 100%;
    min-width: 250px;
    font-size: 35px;
  }

  #homeScreen h3 {
    font-size: 18px;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  #homeScreen h1 {
    width: 100%;
    text-align: left;
    font-size: 3em;
    padding: 0;
  }

  #homeScreen h3 {
    font-size: 1em;
    padding: 0;
  }
}

/*   #endregion   */

/* Main Screen */ /*   #region   */
#mainScreen {
  background-color: rgba(0, 0, 0, 0);
}

.animatedHeader {
  color: rgba(0, 0, 0, 0);
  height: 2em;
  line-height: 2em;
}

.animatedHeader span {
  height: 100%;
  margin: auto 0;
}

.animatedHeaderActive {
  color: var(--gold);
  font-size: 1.1em;
}

#projectsArray {
  position: relative;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

#projectsArray h2 {
  font-size: 32px;
  width: 50%;
  color: var(--black);
  line-height: 1.55em;
}

.xScreenBg {
  position: absolute;
  top: 0;
  right: -5%;
  height: 100%;
  width: 60%;
  transition: transform 900ms ease-in-out, filter 900ms ease-in;
}

.xScreenBg > img {
  width: 100%;
  height: 100%;
}

.xScreenBg.parallaxBgPrev {
  transform: translateX(-10%);
}

.xScreenBg.parallaxBgNext {
  transform: translateX(+10%);
}

.xScreenContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  z-index: 110;
}

.xScreenHeader {
  position: absolute;
  right: 1em;
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  font-size: 3em;
  z-index: 150;
}

.xScreenInfo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.xScreenInfo img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 15px;
  overflow: hidden;
}

.observerTrigger {
  position: absolute;
  left: 70%;
  top: 50%;
}

@media screen and (max-width: 750px) {
  #projectsArray h2 {
    font-size: 18px;
    line-height: 1em;
    display: none;
  }

  .projectContainer {
    padding: 0;
  }

  .xScreenHeader {
    right: unset;
    top: -1.5em;
  }
}

/*   #endregion   */

/* About Screen */ /*   #region   */
.aboutContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2em;
  line-height: 1.5em;
}

.aboutContainer > p {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  padding: 2em;
  background-color: var(--shadowDark);
  color: var(--white);
  z-index: 50;
}

#parallax0 > img {
  position: absolute;
  top: 20%;
  bottom: unset;
  left: unset;
  right: 20%;
  max-width: 50vw;
  height: auto;
  min-width: 0;
  min-height: 0;
}

#parallax0 {
  background-color: var(--blue);
}

@media screen and (max-width: 750px) {
  .aboutContainer > p {
    position: absolute;
    top: unset;
    bottom: 0;
    width: 100%;
    height: 40%;
    padding: 0.5em 0;
    background-color: var(--shadowDark);
    color: var(--white);
    z-index: 50;
    font-size: 0.65em;
    line-height: 1.1em;
  }

  #parallax0 > img {
    position: absolute;
    top: 10%;
    max-width: 100vw;
    height: auto;
  }
}

/*   #endregion   */

/* Develope Screen */ /*   #region   */

.developeInfoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  height: 90%;
}

.devTile {
  position: relative;
  background-color: blanchedalmond;
  width: 25%;
  aspect-ratio: 1;
  overflow: hidden;
}

.devDetails {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: var(--black);
  color: var(--blue);
  font-size: 1.35em;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.devDetails p {
  padding: 0.5em;
  text-align: justify;
}

.devTile h3 {
  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index: 100;
}

.devTile img {
  position: absolute;
  width: auto;
  max-height: 100%;
  transition: transform 500ms ease-in-out;
  border-radius: 0;
}

.devTile:hover {
  cursor: pointer;
}

.devTile:hover img {
  filter: blur(1px);
  transform: scale(120%);
}

.devTile:hover .devDetails {
  opacity: 0.8;
}

.devTile:hover h3 {
  color: var(--blue);
}

#parallax1 {
  background-color: var(--white);
}

@media screen and (max-width: 750px) {
  .aboutInfoContainer {
    top: 40%;
    font-size: 1rem;
  }

  .developeInfoContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 70%;
  }

  .devTile {
    width: 40%;
    margin: 0.1em;
  }
}

/*   #endregion   */

/* Contact Screen */ /*   #region   */
#contactScreen {
  display: flex;
  align-items: center;
  background-color: var(--black);
}

#contactScreen > div {
  display: flex;
  flex-direction: column;
  margin-top: 10em;
}

.contactForm {
  flex: 2;
  justify-content: flex-start;
  align-items: center;
}

.contactHeader {
  flex: 1;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  padding-left: 1em;
}

.contactHeader > h2,
.contactHeader > h3 {
  font-size: 4em;
  color: var(--white);
  margin-bottom: 0.5em;
  text-align: start;
}

.contactHeader > h3 {
  color: var(--gold);
}

.contactHeader > h3 > span {
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  transition: transform 500ms ease-in-out;
}

.carouselHeaderShow {
  transform: scaleY(100%);
}

.carouselHeaderHide {
  transform: scaleY(0%);
}

.contactLinks {
  height: 50%;
  justify-content: flex-start;
  border-right: 2px solid var(--gold);
}

.contactLinks svg {
  width: 7em;
  color: var(--white);
  margin-bottom: 3em;
  cursor: pointer;
}

#contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  height: 100%;
}

.formControl {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: var(--white);
  margin-bottom: 1em;
  font-family: "VT323", monospace;
  max-width: 90vw;
}

.formControl > label {
  font-size: 34px;
}

.inputContainer {
  display: flex;
  width: 100%;
  border-radius: 10px;
}

.inputContainer > input,
.inputContainer > textarea {
  flex: 1;
  padding: 0.5em;
  background-color: var(--black);
  border: 7px solid var(--white);
  border-radius: 5px;
  color: var(--white);
  font-size: 21px;
}

.inputContainer > textarea {
  justify-content: flex-start;
  text-align: start;
  height: 5em;
}

.inputContainer > input:focus {
  border: 7px solid var(--gold);
  outline: var(--gold);
}

.inputContainer > textarea:focus {
  border: 7px solid var(--gold);
  outline: var(--gold);
}

.textField {
  width: 100%;
}

.textArea {
  width: 100%;
}

.formButtonGroup {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media screen and (max-width: 750px) {
  #contactScreen {
    flex-direction: column;
    padding-top: 1em;
  }

  #contactScreen > div {
    display: flex;
    width: 100%;
    margin-top: 0;
  }

  .contactHeader {
    flex: unset;
    flex-wrap: wrap;
    flex-direction: row !important;
    margin-top: 2em !important;
  }

  .contactHeader > h2,
  .contactHeader > h3 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  .contactHeader > h2 {
    white-space: nowrap;
  }

  .contactHeader > h3 {
    width: 100%;
  }

  .contactLinks {
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4em;
    border: none;
    margin-top: 0 !important;
  }

  .contactLinks svg {
    width: 4em;
    color: var(--white);
    margin-bottom: 0;
    cursor: pointer;
  }

  .contactForm {
    flex: unset;
    margin: 1em 0 !important;
  }

  .inputContainer > input,
  .inputContainer > textarea {
    background-color: var(--black);
    border: 2px solid var(--white);
    font-size: 21px;
    padding: 0.25em;
    width: 100%;
  }

  .inputContainer > input:focus {
    border: 2px solid var(--gold);
    outline: var(--gold);
  }

  .inputContainer > textarea:focus {
    border: 2px solid var(--gold);
    outline: var(--gold);
  }

  .inputContainer > textarea {
    height: 4em;
  }

  .formControl > label {
    font-size: 1.5em;
  }
}

/*   #endregion   */

/* NAV MENU */ /*   #region   */
.menuButton {
  color: var(--black);
  padding: 5px 20px;
  font-size: 34px;
  transition: box-shadow 200ms;
}

.menuButton.focused {
  color: var(--gold);
  box-shadow: 0 -4px 4px 0 var(--shadowLight),
    inset 0 4px 4px 0 var(--shadowLight);
}

.menuButton:active {
  box-shadow: 0 -4px 4px 0 var(--shadowLight),
    inset 0 4px 4px 0 var(--shadowLight);
}

#headerBar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-around;
  align-items: center;
  width: "100%";
  height: 2em;
  padding: 7px 10px;
  font-family: "VT323", monospace;
  font-size: 34px;
  z-index: 200;
}

#headerBar > h1 {
  display: block;
  font-family: "VT323", monospace;
  font-size: 34px;
  color: var(--white);
  margin: 0 1em;
}

.headerMenu h4 {
  font-family: "VT323", monospace;
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
}

#headerBar ul:not(.mobileMenu) {
  list-style: none;
  display: flex;
}

.headerMenu {
  flex: 1;
}

#headerBar ul:nth-child(1) {
  justify-content: flex-end;
}
#headerBar ul:nth-child(2) {
  justify-content: flex-start;
}

.mobileToggleBtn {
  display: none;
  border: none;
  cursor: pointer;
}

.mobileMenu {
  display: none;
}

.mobileMenu > li {
  display: none;
  position: relative;
  width: 50%;
  padding: 1em;
  font-family: "VT323", monospace;
  font-size: 0.75em;
  font-weight: 400;
  color: var(--white);
  border-bottom: 1px solid var(--grey);
}

@media screen and (max-width: 750px) {
  #headerBar > h1 {
    display: none;
  }

  #headerBar > ul:not(.mobileMenu) {
    display: none;
  }

  .mobileToggleBtn {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0);
    font-size: 0.15em;
    z-index: 70;
  }

  .mobileMenu {
    transform: translateX(-120vw);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    height: 100vh;
    width: 75%;
    transition: transform 500ms ease-in-out;
  }

  .mobileMenu.menuShow {
    transform: translateX(0);
  }

  .mobileMenu > li {
    display: flex;
  }

  .menuOverlay {
    transform: translateX(-120vw);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--shadowDark);
    z-index: 50;
    transition: transform 500ms ease-in-out;
  }

  .menuOverlay.overlayShow {
    transform: translateX(-0);
  }
}

/* Overlays */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background-color: var(--shadowDark);
  z-index: 100;
  backdrop-filter: blur(3px);
  transition: width 250ms ease-in-out, height 250ms ease-in-out,
    border-bottom-left-radius 500ms ease-in-out;
  border-bottom-left-radius: 350px;
}

.vhsOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("./static/vhs.gif");
  background-size: cover;
  opacity: 0;
  display: none;
}

.showOverlay {
  width: 100vw;
  height: 100vh;
  border-bottom-left-radius: 0;
}

.showVHSOverlay {
  opacity: 0.25;
  display: flex;
}

/*   #endregion   */

/* Status Badge */ /*   #region   */

.statusBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -120%);
  background: var(--green);
  width: 50%;
  height: 2em;
  color: var(--white);
  z-index: 1000;
  border-radius: 0 0 15px 15px;
  transition: transform 400ms ease-in-out;
}

.statusBadge.badgeShow {
  transform: translate(-50%, 0%);
}

.statusBadge.badgeWarning {
  background: red;
}

@media screen and (max-width: 750px) {
  .statusBadge {
    width: 75%;
  }
}

/*   #endregion   */
